<nav class="navbar  is-fixed-top is-transparent" role="navigation" aria-label="main navigation">
  <div class="navbar-brand" style="flex-grow: 1; justify-content: center;">
    <a class="navbar-item" href="https://bulma.io" width="300px">
      <img src=".\assets\cinderela-personal-use-regular.png">
    </a>
  </div>
</nav>
<section class="section">
<nav class="level">
  <p class="level-item has-text-centered">
    <a class="link ">ABOUT</a>
  </p>
  <p class="level-item has-text-centered">
    <a class="link is-info">PROJECTS</a>
  </p>
  <p class="level-item has-text-centered">
    <a class="link is-info">SOME OTHER</a>
  </p>
  <p class="level-item has-text-centered">
    <a class="link is-info">STUFF</a>
  </p>
</nav>
</section>
<span class="icon">
  <i class="is-adn"></i>
</span>
<footer class="footer">
 <nav class="level">
  <p class="level-item ">
<a class="button is-medium is-github">
    <span class="icon">
      <i class="fab fa-github fa-lg"></i>
    </span>
</a>  </p>
  <p class="level-item has-text-centered">
<a class="button is-medium is-facebook">
    <span class="icon">
      <i class="fab fa-facebook fa-lg"></i>
    </span>
</a>  </p>
  <p class="level-item has-text-centered">
<a class="button is-medium is-linkedin">
    <span class="icon">
      <i class="fab fa-linkedin fa-lg"></i>
    </span>
</a>  </p>
  <p class="level-item has-text-centered">
<a class="button is-medium is-instagram">
    <span class="icon">
      <i class="fab fa-instagram fa-lg"></i>
    </span>
</a>  </p>
</nav>
</footer>